<!-- Profile photo-->
<app-profile-photo></app-profile-photo>

<!-- 1. Tiêu đề và giới thiệu -->
<h2>Đây là App Component</h2>
<app-hello></app-hello>
<p [style]="{ color: 'red', backgroundColor: 'yellow', fontSize: '2rem' }">
  Chào mừng bạn đến với Angular
</p>
<!-- 2. Data binding -->
<p><b>Data binding một chiều:</b></p>
<p>Biến name: {{name}}</p>
<p>You name: {{user.name}}</p>
<p>You age: {{user.age}}</p>

<!-- 3. Property binding -->
<p><b>Property binding:</b></p>
<input type="text" [value]="user.name" placeholder="Property binding">

<!-- 4. Attribute binding -->
<p><b>Attribute binding:</b></p>
<input type="text" [attr.aria-label]="name" [(ngModel)]="name" placeholder="Nhập tên của bạn">
<p>Giá trị aria-label hiện tại: {{ name }}</p>

<!-- 5. Two-way binding -->
<p><b>Two-way binding:</b></p>
<input type="text" [(ngModel)]="name" placeholder="Two-way binding">

<!-- 6. Custom two-way binding -->
<p><b>Custom two-way binding:</b></p>
<app-toggle-two-way [(checked)]="isChecked"></app-toggle-two-way>

<!-- 7. Class binding & Style binding -->
<p><b>Class binding & Style binding:</b></p>
<button (click)="isDanger = !isDanger">Toggle Danger</button>
<button (click)="isWarning = !isWarning">Toggle Warning</button>
<div class="box" [class.orange-border]="isDanger" [class.green-background]="isWarning"></div>

<!-- 8. Structural directive: *ngIf: Ẩn hiện phần tử theo điều kiện-->
<p><b>*ngIf:</b></p>
<app-hello *ngIf="user.age>=18" [name]="user.name"></app-hello>
<div *ngIf="user.age < 18">Ban khong du tuoi</div>
<button (click)="user.age=user.age+1">TANG TUOI</button>
Age: {{user.age}}
<button (click)="user.age=user.age-1">GIAM TUOI</button>

<!-- 9. Structural directive: *ngFor: Lập qua mảng để hiển thị danh sách-->
<p><b>*ngFor:</b></p>
<div *ngFor="let author of authors">
  {{author.id}} - {{author.firstName}} {{author.lastName}} - {{author.email}} - {{author.phone}}
</div>

<!-- 10. Structural directive: ngSwitch -->
<p><b>ngSwitch:</b></p>
<select [(ngModel)]="color">
  <option value="red">Đỏ</option>
  <option value="green">Xanh lá</option>
  <option value="blue">Xanh dương</option>
  <option value="other">Khác</option>
</select>

<div [ngSwitch]="color" style="margin-top: 10px;">
  <div *ngSwitchCase="'red'" style="color: red;">Bạn chọn màu ĐỎ</div>
  <div *ngSwitchCase="'green'" style="color: green;">Bạn chọn màu XANH LÁ</div>
  <div *ngSwitchCase="'blue'" style="color: blue;">Bạn chọn màu XANH DƯƠNG</div>
  <div *ngSwitchDefault>Bạn chọn màu khác</div>
</div>

<!-- 11. Toggle component con với *ngIf -->
<p><b>Toggle component con:</b></p>
<button (click)="show = !show">Toggle User Profile</button>
<app-user-profile *ngIf="show"></app-user-profile>

<!-- 12. Component con: Danh sách tác giả -->
<p><b>Component con: Danh sách tác giả</b></p>
<app-author-list></app-author-list>

<!-- 13. Component con: Container component -->
<p><b>Component con: Container component</b></p>
<app-example-container></app-example-container>

<!-- 14. Event binding: Thay đổi giá trị biến khi click -->
<p><b>Event binding:</b></p>
<button (click)="currentProgress = currentProgress + 10">Increase Progress</button>
<button (click)="currentProgress = currentProgress - 10">Decrease Progress</button>

<!-- 15. Component con: Progress bar -->
<p><b>Progress bar mặc định:</b></p>
<app-progress-bar></app-progress-bar>

<p><b>Progress bar có truyền dữ liệu và nhận sự kiện:</b></p>
<app-progress-bar
  [progress]="currentProgress"
  [backgroundColor]="'#ccc'"
  [progressColor]="'blue'"
  (completed)="handlerCompleted()"
></app-progress-bar>
<div *ngIf="message" style="color: green; font-weight: bold;">{{ message }}</div>

<!-- 16. Attribute Directives -->
<p appHighlight>Di chuột vào đây để thấy hiệu ứng highlight</p>
<p [appHighlight]="color">Highlight</p>

<!-- 17. Pipes: Dùng chuyển đổi dữ liệu hiển thị ra template -->
<p><b>Pipes</b></p>
<li>Transform data</li>
    <p>Original: {{ name }}</p>
    <p>Uppercase: {{ name | uppercase }}</p>
    <p>Lowercase: {{ name | lowercase }}</p>
    <p>Titlecase: {{ name | titlecase }}</p>
    <p>Slice (0-3): {{ name | slice:0:3 }}</p>

    <p>Date: {{ today | date:'dd/MM/yyyy' }}</p>
    <p>Date: {{ today | date:'fullDate' }}</p>
    <p>Currency: {{ money | currency:'USD' }}</p>
    <p>Percent: {{ percent | percent }}</p>
    <p>{{user | json}}</p>
    <!-- <p>{{interval$ | async}}</p> -->
    <p>{{addr | fullAddress}}</p>

    <!-- Custom Pipe -->
<li>Custom Pipe</li>
    <p>Reverse (custom): {{ name | reverse }}</p>

    <p>{{ title | appTitle }}</p>

    <h4>Full user list</h4>
    <div *ngFor="let user of users">{{ user.name }}</div>

    <h4>Adult user list</h4>
    <div *ngFor="let user of users | isAdult">{{ user.name }}</div>


<!-- 18. Router -->
<div class="container">
  <h2 class="mb-4">
    <a href="https://github.com/angular-vietnam/100-days-of-angular/blob/master/Day027-router.md"
       target="_blank">
      Angular Router
    </a>
  </h2>

  <ul class="nav nav-pills card-header-pills">
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/">Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/admin">Admin
      </a>
    </li>
  </ul>

  <!-- <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/sign-in">Sign In Template-driven Forms</a>
    <a mat-tab-link routerLink="/sign-in-reactive">Sign In Reactive Forms</a>
  </nav> -->

  <div class="link-group">
    <a routerLink="/sign-in">Sign In Template-driven Forms</a>
    <a routerLink="/sign-in-reactive">Sign In Reactive Forms</a>
    <a routerLink="/register">Register Forms</a>
  </div>
  <router-outlet></router-outlet>
</div>

<!-- 19. Dependency Injection -->
<h2>
  Giới thiệu về Dependency Injection trong Angular
</h2>
<br>
<app-product-di></app-product-di>

<!-- <app-toggle-di [(checked)]="question.question1">
  <h3 class="toogle-header">Header 1</h3>
  <label ngProjectAs="app-label">Question 1</label>
  <span>Some paragraph</span>
</app-toggle-di>

<app-toggle-di [(checked)]="question.question2">
  <h3 class="toogle-header">Header 2</h3>
  <span>Some paragraph 2</span>
  <label>Question 2</label>
</app-toggle-di> -->

<h2>
	Dependency Injection trong Ứng Dụng Angular
</h2>

<br>

<button class="btn btn-primary" (click)="showTab = !showTab">Toggle tab 4</button>

<app-tab-group>
	<app-tab-panel title="Tab 1">
			Nội dung tab 1
	</app-tab-panel>
	<app-tab-panel title="Tab 2">
			Nội dung tab 2
	</app-tab-panel>
	<app-tab-panel title="Tab 3">
			Nội dung tab 3
	</app-tab-panel>
  <app-tab-panel title="Tab 4" *ngIf="showTab">
			Nội dung tab 4
	</app-tab-panel>
</app-tab-group>

<app-bs-tab-group>
	<app-tab-panel title="Tab 1">
			Nội dung tab 1
	</app-tab-panel>
	<app-tab-panel title="Tab 2">
			Nội dung tab 2
	</app-tab-panel>
	<app-tab-panel title="Tab 3">
			Nội dung tab 3
	</app-tab-panel>
  <app-tab-panel title="Tab 4" *ngIf="showTab">
			Nội dung tab 4
	</app-tab-panel>
</app-bs-tab-group>

<br>
<app-product-list></app-product-list>
